extends layout.pug


block content
   if error
     p.error Please fill the input

   if error
     p.success Good job

   if deleted
     p.success Deleted

   form.form(action ='/add' method ='POST')
   input.input(type='text' placeholder ='add Customer' name='customer')
   button.btn Add


      div.customers
        if customers.length
          each customer in customers
            p.customer
              if customer.done
                a.done(href=`/${customer.id}/update`) #{ customer.description }
              else
                a.undone(href=`/${customer.id}/update`) #{ customer.description }  
              a.delete(href=`/${customer.id}/delete`) Delete
        else 
          p.customer No available customer